/* Henryk Piszczek, 14.05.2025 */

.div1 {
  background-color: silver;
}

.span1 {
  color: green;
  font-size: 25mm;
}

.akapit {
  color: red;
  font-size: 40mm;
}

.fioletowy {
  color: rgb(128, 0, 128);
}

.rozowy {
  color: rgb(255, 105, 180);
}

.niebieski {
  color: rgb(173, 216, 230);
}

.czarny {
  color: black;
}
